# SSIS 
*.dtproj.user
*.dtsx.user
*.suo
*.cache

.vs/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# SQL server files
*.mdf
*.ldf
*.ndf
*.dbmdl
*.jfm
*.bak
*.backup
*.config

*.tmp
*.temp